* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative; 
}

.container {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    display: inline-block;
}

#coming-soon {
    padding-top: 10px;
}

a {
    display: inline-block;
    padding: 8px 4px; /* ensures touch target ~48px tall */
    color: black;
    text-decoration: none;
    transform: translateX(-50%);
}

li {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px; /* adds space between links */
}

#footer {
    position: absolute;
    bottom: 20px;
}
